[submodule "hazel/hazel/vendor/spdlog"]
	path = hazel/hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "hazel/hazel/vendor/imgui"]
	path = hazel/hazel/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
