[submodule "hazel/hazel/vendor/spdlog"]
	path = hazel/hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "hazel/hazel/vendor/imgui"]
	path = hazel/hazel/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "hazel/hazel/vendor/glfw"]
	path = hazel/hazel/vendor/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "hazel/hazel/vendor/glm"]
	path = hazel/hazel/vendor/glm
	url = https://github.com/g-truc/glm.git
